@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
html {
  /* background: #f1f3e5; */
  font-family: 'Darker Grotesque', sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #f1f3e5;
  --primary-color: #232646;
  /* --primary-color: rgb(207, 206, 160); */
  /* --primary-color: #ddff8d; */
}

.secondary-font {
  font-family: 'Future History';
}
a {
  color: inherit;
}

@layer {
  .primary-label {
    @apply bg-[#141414] text-primary font-semibold;
    font-size: 19px;
    line-height: 19px;
    padding: 7.5px 16.5px 10.4px;
    box-shadow: 0px 0px 2px #ddff8d;
  }
  .primary-fieldset {
    @apply flex flex-col relative;
  }
  .primary-input-label {
    @apply uppercase text-primary;
    font-family: 'Future History';
  }
  .primary-input {
    @apply bg-transparent !border-b-2 !border-primary !text-24x uppercase !text-primary !py-2
    focus:outline-none focus:!border-white
    transition-all ease-in-out duration-200;
    font-family: 'Future History';
  }
  .primary-input[data-error='true'] {
    @apply !border-red-500;
  }
  .error-message {
    @apply text-red-500 absolute -bottom-6 left-0;
  }
  .layerd-tilt {
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }
  .layer-1 {
    transform: translateZ(0px) scale(1.05);
  }
  .layer-2 {
    transform: translateZ(60px) scale(1);
  }
  .layer-3 {
    transform: translateZ(100px) scale(1);
  }
  .layer-4 {
    transform: translateZ(180px) scale(1);
  }
  .layer-5 {
    transform: translateZ(220px) scale(1);
  }
}
.swiper-wrapper {
  /* @apply; */
}

.secondary-btn {
  @apply bg-primary border border-primary px-24 pb-1.5 text-32x rounded-3xl text-black block mt-4 text-center lg:inline-block lg:mx-auto transition-all ease-in-out duration-200
  hover:bg-transparent hover:text-primary;
}

.primary-swiper-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-clip-path: ellipse(100% 25% at 50% 100%);
  clip-path: ellipse(100% 25% at 50% 100%);
  background: #f1f3e5;
  z-index: 999;
}
.primary-swiper-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-clip-path: ellipse(100% 25% at 50% 0%);
  clip-path: ellipse(100% 25% at 50% 0%);
  background: #f1f3e5;
  z-index: 999;
}
#eidgensi-logo {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke-width: 1px;
  stroke: var(--primary-color);
  animation: write 4s ease-in-out forwards;
  animation-delay: 0.4s;
  opacity: 0;
}
@keyframes write {
  0% {
    stroke-dashoffset: 2000;
    fill: transparent;
    opacity: 0;
  }
  10% {
    stroke-dashoffset: 2000;
    fill: transparent;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    fill: var(--primary-color);
    opacity: 1;
  }
}
.overlay-sides:after,
.overlay-sides:before {
  content: '';
  position: absolute;
  top: 20%;
  width: 50px;
  height: 60%;
  z-index: 99999;
  background: #000000;
  filter: blur(80.5px);
}
.overlay-sides:before {
  left: 0;
}
.overlay-sides:after {
  right: 0;
}

.swiper-btn-container {
  z-index: 99999;
}
.swiper-button-next {
}
.swiper-button-prev {
}
.swiper-button-prev,
.swiper-button-next {
  position: relative !important;
  right: unset !important;
  left: unset !important;
  color: white !important;
  height: 48px !important;
  width: 48px !important;
  @apply bg-[#141414] rounded-full hover:bg-[#141414]/80 transition-all ease-in-out duration-200;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 15px !important;
}

.primary-btn {
  @apply text-20x bg-blue px-4 py-3  text-primary block mt-4 text-center secondary-font uppercase
  left-0 bottom-0
  relative hover:bottom-1 hover:left-1 transition-all ease-in-out duration-200;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 99%, 0% 100%);
  clip-path: polygon(10% 0, 100% 0, 90% 99%, 0% 100%);
  max-width: 350px;
}

.mySwiper-text .swiper-slide {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.mySwiper-text .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
}
.mySwiper-text .swiper-slide:not(.swiper-slide-active) .line {
  width: 100px;
}
.nav-item {
  color: var(--primary-color);
  position: relative;
}
.nav-item:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 0%;
  background-color: currentColor;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  transition: width 0.3s ease-in-out;
}
.nav-item:hover:after,
.nav-item.active:after {
  width: 100%;
}
.nav-item.active {
  color: var(--primary-color);
}
#intro .swiper-wrapper {
  /* padding: 200px 0; */
  @apply pt-[80px] lg:py-[200px];
}

.primary-video {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.secondary-video {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: auto;
  top: 0;
}
@media (min-width: 1025px) {
  .secondary-video.left {
    transform: translate(-100%, -50%) scale(1);
  }
  .secondary-video {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    max-width: 1000px;

    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    transition: transform 1.5s ease-in-out;
  }
}
#top {
  /* mix-blend-mode: difference; */
  color: #141414;
}

#web3 {
  min-height: 100vh;
}
#web3 .content {
  transition: left 0.1s ease-in-out, opacity 1s ease-in-out;
}
#web3 .content-visible {
  @apply left-0 opacity-100;
}
#web3 .content-hidden {
  @apply -left-[400vh] opacity-0;
}
.custom-img-wrapper {
  /* -webkit-clip-path: polygon(4% 0px, 94% 0px, 100% 75%, 0% 92%); */
  clip-path: polygon(6% 0, 91% 0%, 99% 76%, 2% 95%);
  /* background: #ddff8d; */
  position: relative;
}
.custom-img-wrapper-inner {
  clip-path: polygon(7% 10px, 93% 4px, 99% 73%, 2% 90%);
}

.gradient-text {
  background: linear-gradient(45deg, #ddff8d, #55c2f1);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 4s ease-in-out infinite;
  -moz-animation: animated_text 10s ease-in-out infinite;
  -webkit-animation: animated_text 10s ease-in-out infinite;
}
@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

.animation-in {
  animation: animation-in 0.5s linear forwards;
  bottom: 200px;
  position: relative;
}
@keyframes animation-in {
  to {
    bottom: 0;
  }
}

.burger-menu {
  @apply flex flex-col justify-center gap-[4px];
}
.burger-menu span {
  background: var(--primary-color);
  border-radius: 180px;
  height: 3px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.burger-menu.open .span1 {
  transform: rotate(39deg) translate(5px, 5px);
}
.burger-menu.open .span2 {
  transform: rotate(-39deg);
  width: 24px;
}

.burger-menu .span1 {
  width: 24px;
}
.burger-menu .span2 {
  width: 30px;
}

.glitch {
  --f-size: 15;
  --f-unit: 1vmin;
  --f: calc(var(--f-size) * var(--f-unit));
  --bg: transparent;

  flex: 1;
  line-height: 0.75;
  margin: auto;
  color: white;
  text-align: center;
  transform: scaleX(var(--scale, 1));
  animation: glitch-p 11s infinite alternate;
  font-family: 'Future History';
}
.glitch::before,
.glitch::after {
  --top: 0;
  --left: 0;
  --v-height: 30%;

  --n-tenth: calc(var(--f-size) * 0.1 * var(--top));
  --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
  --b-cut: calc(var(--t-cut) + var(--v-height));

  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;

  transform: translateX(calc(var(--left) * 100%));

  filter: drop-shadow(0 0 transparent);

  text-shadow: calc(var(--left) * -3em) 0 0.02em #ddff8d,
    calc(var(--left) * -6em) 0 0.02em #8b41d7;

  background-color: var(--bg);
  clip-path: polygon(
    0% var(--t-cut),
    100% var(--t-cut),
    100% var(--b-cut),
    0% var(--b-cut)
  );
}

.glitch::before {
  animation: glitch-b 1.7s infinite alternate-reverse;
}
.glitch::after {
  animation: glitch-a 3.1s infinite alternate;
}
@keyframes glitch-p {
  17% {
    --scale: 0.87;
  }
  31% {
    --scale: 1.1;
  }
  37% {
    --scale: 1.3;
  }
  47% {
    --scale: 0.91;
  }
  87% {
    --scale: 1;
  }
}

@keyframes glitch-a {
  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
  }
  20% {
    --left: 0.005;
  }
  40% {
    --left: 0.01;
    --v-height: 20%;
    --top: 3;
  }
  60% {
    --left: 0.03;
    --v-height: 25%;
    --top: 6;
  }
  80% {
    --left: 0.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: 0.083;
    --v-height: 30%;
    --top: 1;
  }
}

@keyframes glitch-b {
  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
    --top: 10;
  }
  20% {
    --left: -0.005;
  }
  40% {
    --left: -0.01;
    --v-height: 17%;
    --top: 3;
  }
  60% {
    --left: -0.03;
    --v-height: 35%;
    --top: 6;
  }
  80% {
    --left: -0.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: -0.083;
    --v-height: 30%;
    --top: 1;
  }
}
.flip-card {
  background-color: transparent;
  width: 100%;
  @apply h-[550px] md:h-[700px] lg:h-[900px];
  perspective: 2000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-back {
  @apply opacity-100;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
}

.flip-card-back {
  @apply bg-blue/80 opacity-0 transition-all ease-in-out duration-500 delay-150 backdrop-blur-md;
}

.animate-in-content {
  @apply opacity-0 relative top-[25px];
  animation: animate-in-content 0.5s ease-in-out forwards;
  animation-delay: 3.8s;
}
@keyframes animate-in-content {
  100% {
    @apply opacity-100 top-0;
  }
}
.swiper-pagination {
  left: 0px !important;
  right: unset !important;
}
.swiper-pagination-bullet {
  background-color: #ddff8d7a !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ddff8d !important;
}
#case-studies .swiper-slide:not(.swiper-slide-active) {
  @apply opacity-20;
}
#case-studies .swiper-slide {
  @apply opacity-100 transition-opacity ease-in-out duration-500;
}

.container-max {
  @apply max-w-[1428px] mx-auto;
}
#terms-modal {
  @apply text-base;
}
#terms-modal h3 {
  @apply text-2xl my-4;
}
#terms-modal ul {
  @apply list-disc pl-6 mb-2;
}
#terms-modal a {
  @apply text-primary underline;
}

/* NAV BAR CHANGES */
.nav-color-blue {
  @apply bg-[#232646];
  --primary-color: #ddff8d;
}
.nav-color-cream {
  @apply bg-[#F1F3E5];
  --primary-color: #232646;
}
.nav-color-black {
  @apply bg-[#151315];
  --primary-color: #ddff8d;
}
.nav-bar-container.sroll {
  @apply lg:-top-[200px];
}
.nav-bar-container.sroll.hover {
  @apply lg:-top-0;
}
.nav-bar-container {
  transition: top 1.5s ease-in-out;
}
.primary-desktop-header {
  transition: left 0.3s ease-in-out, opacity 1s ease-in-out;
  transition-delay: 600ms;
}


/* casestudy */
.casestudy-grid{
  position: relative;
  overflow: hidden;
}
.casestudy-grid .scroll-text{
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 0;
  white-space: nowrap;
  left: 0;
  right: 0;
}
.child-1{
  animation: scrollTextStart 10s infinite linear;
}
.child-2{
  animation: scrollTextEnd 10s infinite linear;
}
@keyframes scrollTextStart {
  from {
    transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}
@media(min-width:640px){
  .casestudy-grid + .casestudy-grid:nth-child(even){
    border-left: none;
  }
}

/* cursor */
.swiper-mouse{
  cursor: url('https://eidgensi.in2.cdn-alpha.com/drag-100.svg'), url('https://eidgensi.in2.cdn-alpha.com/drag-100.svg'), move;
}
.marquee{
  min-width: auto !important;
}
.mySwiper .swiper-slide{
  text-align: center;
}
.swiper-slide .object-contain img{
  object-fit: contain !important;
}